:root {
  --color-primario: #283618;
  --color-opciones: #606c38;
  --background: #fefae0;
  --header-background: #ccd5ae;
  --button-background: #d4a373;
  --button-hover: #bc6c25;
  --back-top: #dda15e;
  --text-color: #283618;
  --card-background: white;
}

.dark-mode {
  --color-primario: #fefae0;
  --color-opciones: #d4a373;
  --background: #283618;
  --header-background: #606c38;
  --button-background: #bc6c25;
  --button-hover: #d4a373;
  --back-top: #ccd5ae;
  --text-color: #fefae0;
  --card-background: #3a4a23;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--header-background);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primario);
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.cerrar-sesion,
.modo-oscuro {
  background-color: var(--button-background);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cerrar-sesion:hover,
.modo-oscuro:hover {
  background-color: var(--button-hover);
}

main {
  flex-grow: 1;
  padding: 2rem;
}

h1,
h2 {
  color: var(--color-primario);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  margin-bottom: 3rem;
}

.dashboard-card.ventas {
    max-height: 200px;
}

.dashboard-card {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.numero-grande {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primario);
  margin: 1rem 0;
}

.mensajes-lista {
  list-style-type: none;
  padding: 0;
}

.mensajes-lista li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background);
  border-radius: 4px;
}

form {
  display: grid;
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
button[type="submit"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-opciones);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--text-color);
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-opciones);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--text-color);
}

button[type="submit"] {
  background-color: var(--button-background);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--button-hover);
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .header-buttons {
    margin-top: 1rem;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
