{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="carrusel" role="region" aria-label="Galería de imágenes">
    <div class="carrusel-imagenes">
      <img
        src="{{ url_for('static', filename='assets/img/banner/mate.jpg') }}"
        alt="Chica con mate de algarrobo"
      />
      <img
        src="{{ url_for('static', filename='assets/img/banner/mate2.webp') }}"
        alt="Chica con mate imperial"
      />
      <img
        src="{{ url_for('static', filename='assets/img/banner/mate.jpg') }}"
        alt="Chica con mate de algarrobo"
      />
    </div>
    <button class="prev" onclick="mover(-1)" aria-label="Pasar imagen">
      &#10094;
    </button>
    <button class="next" onclick="mover(1)" aria-label="Volver imagen">
      &#10095;
    </button>
  </div>

  <div id="productos">
    <div class="producto">
      <div class="imagen-producto">
        <img
          src="{{ url_for('static', filename='assets/img/productos/mate1.jpg') }}"
          alt=""
        />
      </div>
      <div class="info-productos">
        <span class="nombre-producto"><a href="#">PRODUCTO</a></span>
        <span class="precio">PRECIO</span>
      </div>
    </div>
    <div class="producto">
      <img src="https://placehold.co/600x400" alt="" />
      <div class="info-productos">
        <span class="nombre-producto"><a href="#">PRODUCTO</a></span>
        <span class="precio">PRECIO</span>
      </div>
    </div>
    <div class="producto">
      <img src="https://placehold.co/600x400" alt="" />
      <div class="info-productos">
        <span class="nombre-producto"><a href="#">PRODUCTO</a></span>
        <span class="precio">PRECIO</span>
      </div>
    </div>
  </div>

</div>


{% endblock %}
