{% extends 'baseForm.html' %}

{% block content %}
<div class="container">
  <form action="/" aria-labelledby="form-titulo">
    <div class="inicio-formulario" id="form-titulo">
      <img src="{{ url_for('static', filename='assets/img/LOGO-footer.webp') }}" alt="LOGO" loading="lazy" />
      <p>¿Olvidaste tu contraseña?</p>
      <p style="font-size: 1.6rem">
        Ingresa los siguientes datos para continuar:
      </p>
    </div>

    <div class="label">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>
    <div class="label">
      <label for="pass">Ingresar nueva contraseña:</label>
      <input type="password" name="pass" id="pass" required />
    </div>
    <div class="label">
      <label for="pass">Repetir nueva contraseña:</label>
      <input type="password" name="pass" id="pass" required />
    </div>
    <input
      type="submit"
      value="Recuperar Contaseña"
      aria-label="Recuperar Contaseña"
    />

    {# <span class="respuesta-sesion">Contraseña Restablecida</span> #}
  </form>

  <div class="links">
    <a href="{{ url_for('login') }}">Iniciar sesión</a>
    <p class="no-cuenta">¿Todavía no tienes una cuenta?</p>
    <a href="{{ url_for('registrarse') }}">Registrate</a>
  </div>
</div>

{% endblock %}
