{% extends 'baseForm.html' %}

{% block content %}
<div class="container">
  <form action="/" aria-labelledby="form-titulo">
    <div class="inicio-formulario" id="form-titulo">
      <img src="{{ url_for('static', filename='assets/img/LOGO-footer.webp') }}" alt="LOGO" loading="lazy" />
      <p>Aprovecha nuestros descuentos</p>
      <p>Crea tu cuenta</p>
    </div>

    <div class="label">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>
    <div class="label">
      <label for="pass">Contraseña:</label>
      <input type="password" name="pass" id="pass" required />
    </div>
    <div class="label">
      <label for="pass">Confirmar Contraseña:</label>
      <input type="password" name="pass" id="pass" required />
    </div>
    <input type="submit" value="Crear cuenta" aria-label="Crear cuenta" />
  </form>

  <div class="links">
    <p class="no-cuenta">¿Ya tienes cuenta?</p>
    <a href="{{ url_for('login') }}">Inicia sesión</a>
  </div>
</div>

{% endblock %}
