<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateando | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashboard.css') }}" media="all">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/LOGO-footer.webp') }}"
        type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo" aria-label="Logo Mateando">Mateando</div>
        <div class="header-buttons">
            
            <button class="modo-oscuro" onclick="toggleDarkMode()">Modo Oscuro</button>
            <form action="/logout"><button class="cerrar-sesion">Cerrar Sesión</button></form>
        </div>
    </header>

    <main>
        <h1>Bienvenido, Admin</h1>

        <div class="dashboard-grid">
            <div class="dashboard-card ventas">
                <h2>Número de Ventas</h2>
                <div class="numero-grande" aria-label="Número total de ventas">0</div>
            </div>

            <div class="dashboard-card">
                <h2>Agregar Nuevo Producto</h2>
                <form id="agregar-producto-form" method="post" action="/addProducto">
                    <div>
                        <label for="nombre">Nombre del Producto:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div>
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="1">Set matero</option>
                            <option value="2">Mates</option>
                            <option value="3">Bombillas</option>
                            <option value="4">Termo</option>
                            <option value="5">Yerba</option>
                        </select>
                    </div>
                    <div>
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" name="precio" step="0.01" required>
                    </div>
                    <div>
                        <label for="image_url">URL de la Imagen:</label>
                        <input type="url" id="image_url" name="image_url">
                    </div>
                    
                    <input type="submit" value="Agregar Producto">
                </form>
            </div>
        </div>

        <div class="dashboard-card">
            <div id="productos">
                {% for producto in productos %}
                <div class="producto">
                  <div class="imagen-producto">
                    <img src="{{ producto.image_url }}" alt="Foto Producto" />
                  </div>
                  <div class="info-productos">
                    <span class="nombre-producto"><a href="#">{{ producto.nombre.title() }}</a></span>
                    <span class="precio">{{ producto.precio }}</span>
                    <div class="acciones">
                      <button class="btn agregar-carrito">Agregar al carrito</button>
                      <button class="btn comprar">Comprar</button>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        </div>

    </main>

    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
</body>

</html>